---
layout: home
main_image: /uploads/background3.jpg
---
{% assign settings = settings.data.settings %}
<nav id="menu">
    {% include menu.html %}
</nav>
<main id="panel">
<div class="wrapper">
  <div class="navigation">
    <a href="#" class="logo"><img src="http://www.fbgnt.de/themes/bob/images/logo.png" alt=""></a>
    
    <ul class="desktop-links">
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul><!--/desktop-links-->
    <a class="toggle-button" href="#">MENU
    </a><!--/mobile-links-->
  </div><!--/.navigation-->
{% include footer.html %}
</div><!--/wrapper-->
</main><!--/#panel-->